<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <section name="validation" type="Microsoft.Practices.EnterpriseLibrary.Validation.Configuration.ValidationSettings, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false"/>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="oracle.dataaccess.client" type="System.Data.Common.DbProviderConfigurationHandler, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="oracleConnectionSettings" type="Microsoft.Practices.EnterpriseLibrary.Data.Oracle.Configuration.OracleConnectionSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
  </configSections>
  
  <dataConfiguration defaultDatabase="SICREB"/>
  
  <connectionStrings>
    <!--<add name="SICREB" connectionString="Data Source = 172.27.208.41:1523/SICREBPR; User ID = SICREB; Password = S1cR3b.S3rv1c3Dev;" providerName="System.Data.OracleClient"/>-->
    <add name="SICREB" connectionString="Data Source = {0}:{1}/{2}; User Id = {3}; Password = {4};" providerName="System.Data.OracleClient" />
  </connectionStrings>
  
  <oracleConnectionSettings>
    <add name="SICREB"/>
  </oracleConnectionSettings>
  
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.DataAccess.Client"/>
      <add name="Oracle Data Provider for .NET" invariant="Oracle.DataAccess.Client" description="Oracle Data Provider for .NET" type="Oracle.DataAccess.Client.OracleClientFactory, Oracle.DataAccess, Version=4.112.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  
  <appSettings>
    <add key="UrlImages" value="http://localhost/Banobras.Credito.SICREB.Web/Resources/Images/"/>
    <add key="Site" value="http://localhost/Banobras.Credito.SICREB.Web/Resources/"/>
    <add key="AuthAD" value="false"/>
    <add key="NombreDominio" value="Banobras"/>
    <!--<add key="RutaActiveDirectory" value="LDAP://banobras.gob.mx"/>-->
    <add key="PatronDeFecha" value="(0[1-9]|[12][0-9]|3[01])(0[1-9]|1[012])(19|20)\d\d"/>
    <add key="PatronDeRFC" value="^[A-Za-z]{3}[ |\\-]{0,1}[0-9]{6}[ |\\-]{0,1}[0-9A-Za-z]{0,3}$?"/>
    <add key="PatronDeRFCFisicas" value="^[A-Za-z]{4}[ |\\-]{0,1}[0-9]{6}[ |\\-]{0,1}[0-9A-Za-z]{0,3}$?"/>
    <add key="INTF_ES" value="INTF"/>
    <add key="INTF_V"  value="13"/>
    <add key="INTF_01" value="INTF"/>
    <add key="INTF_05" value="13"/>
    <add key="INTF_07" value="BB14210000"/>
    <add key="INTF_17" value="BANOBRAS        "/>
    <add key="INTF_33" value="  "/>
    <add key="PN_Etiqueta" value="PN"/>
    <add key="PA_Etiqueta" value="PA"/>
    <add key="PE_Etiqueta" value="PE"/>
    <add key="TL_Etiqueta" value="TL"/>
    <add key="TL_01" value="BB14210001"/>
    <add key="TL_02" value="BANOBRAS"/>
    <add key="TL_05" value="I"/>
    <add key="TL_08" value="MX"/>
    <add key="TL_52" value="ngarcia@oneprojec.com"/>
    <add key="TL_99" value="FIN"/>
    <add key="TR_Etiqueta" value="TRLR"/>
    <add key="TR_72" value="000000"/>
    <add key="TR_78" value="BANOBRAS, S.N.C."/>
    <add key="TR_94" value="JAVIER BARROS SIERRA 515, LOMAS DE SANTA FE, ALVARO OBREGON, CIUDAD DE MEXICO"/>
    <add key="HD_HD" value="BNCPM"/>
    <add key="HD_00" value="9600"/>
    <add key="HD_01" value="0000"/>
    <add key="HD_02" value="001"/>
    <add key="HD_03" value="1"/>
    <add key="HD_06" value="10"/>
    <add key="HD_07" value="Banco Nacional de Obras y Servicios Publicos SNC Institucion de Banca de Desarrollo"/>
    <add key="EM_11" value="00009999999"/>
    <add key="EM_12" value="00009999999"/>
    <add key="MailFrom" value="buenaomunoz@freezecode.com"/>
    <add key="SmtpClient" value="localhost"/>
    <add key="RutaActiveDirectory" value="LDAP://banobras.gob.mx"/>
    <add key="DCActiveDirectory" value="DC=banobras,DC=gob,DC=mx"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    
    <add key="EnvironmentVariable" value="SICREB_VARIABLES" />
  </appSettings>
  
  <system.net>
    <mailSettings>
      <smtp from="osvier.munoz@freezecode.com" deliveryMethod="SpecifiedPickupDirectory">
        <network host="189.204.36.46" port="2525" userName="osvier.munoz@freezecode.com" password="Temp.123"/>
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Desarrollo\Mail"/>
      </smtp>
    </mailSettings>
  </system.net>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89B483F429C47342" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.112.2.0" newVersion="4.112.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>
