/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}
/*
a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}
*/
p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{ 
    min-width: 979px;
    max-width: 979px;
    margin: 1px 1px 1px 1px;
    
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}



.blankMain
{
    padding:6px 12px 12px 12px;
    margin: 0px 0px 0px 0px;
    background-color:#FFFFFF;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/
/*Todo*/
div.hideSkiplink
{
    background:url('/ResourcesCte/Images/SeccionDegradadoconSombra.png');
    background-position:bottom;
    height:22px;
    padding:0px 0px 0px 0px;
    position:absolute;
    z-index:99;
}


/* NUEVO MENU
----------------------------------------------------------*/

.TableBG
{
      background-color:#F3F3F3;
}
.menuPrin
{
    font-family:Calibri;
    font-weight:normal;
    font-size:12px;
    display: block;
    height:22px;
    
    width:120;
    vertical-align:middle;
}
.subMenu
{
    font-family:Calibri;
    font-weight:normal;
    font-size:12px;
    color:#1C3E60;
    display: block;
    height:22px;
    vertical-align:middle;
    background-color:White;
}



/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}
/* Font 
----------------------------------------------------------*/

.cabecera
{
    font-family:Calibri;
    font-weight:bold;
    font-size:14px;
    color:#D4D4D4;
}
.cabeceraSalir
{
    font-family:Calibri;
    font-weight:normal;
    font-size:14px;
    color:#D4D4D4;
}
.bienvenido
{
    font-family:Calibri;
    font-weight:normal;
    font-size:14px;
    color:#666666;
}
.fontMenu
{
   font-family:Calibri;
    font-weight:normal;
    font-size:12px;
    color:#666666;
}
.fontFooter
{
    font-family:Calibri;
    font-weight:normal;
    font-size:14px;
    color:#FFFFFF;
}
.ligaFooter
{
    font-family:Calibri;
    font-weight:bold;
    font-size:14px;
    color:#FFFFFF;
}
A.ligaHeader:visited,
A.ligaHeader:link,
A.ligaHeader:active,
A.ligaHeader:hover,
.ligaHeader
{
    text-decoration:none;
    font-family:Calibri;
    font-weight:bold;
    font-size:14px;
    color:#FFFFFF;
    text-decoration:underline;  
}
.orillas
{
    border-left:url('/ResourcesCte/Images/SombraOrillaIzq.png');
    border-right:url('/ResourcesCte/Images/SombraOrillaDer.png');
}
/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

.titleLeft
{
    color:#FFFFFF;
    background-image:url('../Images/BarsButtons/BNB-SIC-BarraTitulo_Left.png');
    background-repeat:no-repeat;
    width:3px;
    height:33px;
    font-family:Calibri;
    font-size:18px;
    background-position:right bottom;
    border:0px;
}

.titleCenter
{
    color:#FFFFFF;
    background-image:url('../Images/BarsButtons/BNB-SIC-BarraTitulo_Repeater.png');
    background-repeat:repeat-x;
    background-position:bottom;
    height:33px;
    font-family:Calibri;
    font-size:18px;
    width:100%;
    border:0px;
}

.titleRight
{
    color:#FFFFFF;
    background-image:url('../Images/BarsButtons/BNB-SIC-BarraTitulo_Right.png');
    background-repeat:no-repeat;
    background-position: left bottom;
    width:3px;
    height:33px;
    font-family:Calibri;
    font-size:18px;
    border:0px;
}

/* OTROS ESTILOS  
----------------------------------------------------------*/
.Icon
{
      border-style:none;
      border-color:transparent;
      background-color:transparent;      
}  
.login
{
       background-image: url('/ResourcesCte/Images/Master/LoginScreen.png');
       font-family:Calibri;
       font-size:14px;
       color:#000000;

}

.tableHeader
{
    text-align:left;
    background-color:#CCCCFF;
    font-weight:bold;
    color:#222222;
    height:26px;
    padding-left:10px;
}

.btnSmall
{
    border: none;
    background-image: url('/ResourcesSICREB/Images/BarsButtons/BNB-SIC-ButtonGral-080px.png');
    width: 94px;
    height: 44px;
    font-family: Arial;
    font-size: 13px;
    font-weight:normal;
    color: #335C85;
    background-color:Transparent;
    cursor:pointer;
}

.btnMedium
{
    border: none;
    background-image: url('/ResourcesSICREB/Images/BarsButtons/BNB-SIC-ButtonGral-100px.png');
    width: 114px;
    height: 44px;
    font-family: Arial;
    font-size: 13px;
    font-weight:normal;
    color: #335C85;
    background-color:Transparent;
    cursor:pointer;
    
}
.btnLarge
{
    border: none;
    background-image: url('/ResourcesSICREB/Images/BarsButtons/BNB-SIC-ButtonGral-140px.png');
    width: 154px;
    height: 44px;
    font-family: Arial;
    font-size: 13px;
    font-weight:normal;
    color: #335C85;
    background-color:Transparent;
    cursor:pointer;
}
.btnAgrega
{
    border: none;
    background-image: url('/ResourcesSICREB/Images/BarsButtons/BNB-SIC-ButtonCtrl_Agregar.png');
    width: 21px;
    height: 21px;
    background-color:Transparent;
    cursor:pointer;
}
.btnQuitar
{
    border: none;
    background-image: url('/ResourcesSICREB/Images/BarsButtons/BNB-SIC-ButtonCtrl_Quitar.png');
    width: 21px;
    height: 21px;
    background-color:Transparent;
    cursor:pointer;
}

 .noLink
  {
    	color:#414042; font-size:12px; font-weight:bold; text-decoration:none;
  }
  
  .formulario
{
    font-family:Calibri;
    font-weight:bold;
    font-size:14px;
    color:#00264D;
    height:30px;
    
}
.listado
{
    font-family:Calibri;
    font-weight:normal;
    font-size:14px;
    color:#00264D;
    height:45px;
    
}
.sombra
{
    height:30px;
    background:#F1F2F2;
    
}
A.exportacion:visited,
A.exportacion:link,
A.exportacion:active,
A.exportacion:hover,
.exportacion
{
    
    text-decoration:none;
    font-style:normal;
    font-family:Calibri;
    font-weight:normal;
    font-size:14px;
    color:#990000;
}


.detalleMain
{
    
    width:800px;
}
.detalleHeader
{
    color:White;
    width:100%;
}

.detalleDiv
{
    
    padding:3px 3px 3px 3px;
    border: 1px solid #696969;
    width: 970px;
    margin-bottom:10px;
}
.detalleDiv table
{
    width:100%;    
}
.resumenProceso
{
    border: 1px solid #696969;
    background-image:url('../Images/BarsButtons/BNB-SIC-BGResumenProceso.png') ;   
    width:100%;
     
}
.resumenProcesoDiv
{
    border: 1px solid #696969;
    background-image:url('../Images/BarsButtons/BNB-SIC-BGResumenProceso.png') ;     
    
}
.resumenProcesoDiv div
{
    text-align:center;
     
    }
.resumenProceso td
{
    
    margin: 8px, auto, 8px, auto;
    width:18%;    
    height: 35px;    
}
.divCard
{
    padding:3px 3px 3px 3px;
    border: 1px solid #696969;
    width: 970px;
    margin-bottom:10px;
   
}
.divCard .divGrid
{
     overflow:auto;
}
.divCard .Left
{
    float:left;
    color:#FFFFFF;
    background-image:url('/ResourcesSICREB/Images/BarsButtons/BNB-SIC-BarraTitulo_Left.png');
    background-repeat:no-repeat;
    width:3px;
    height:32px;
    font-family:Calibri;
    font-size:18px;
    background-position:right;   
}
.divCard .Center
{
    float:left;
    color:#FFFFFF;
    background-image:url('../Images/BarsButtons/BNB-SIC-BarraTitulo_Repeater.png');
    background-repeat:repeat-x;
    height:33px;
    vertical-align:middle;
    font-family:Calibri;
    font-size:18px;
    width:664px;
}
.divCard .Right
{
    float:left;
    
    background-image:url('../Images/BarsButtons/BNB-SIC-BarraTitulo_Right.png');
    background-repeat:no-repeat;
    width:3px;
    height:32px;
    font-family:Calibri;
    font-size:18px;
}

.divCard .CenterExporter
{
    float:left;
    color:#FFFFFF;
    background-image:url('../Images/BarsButtons/BNB-SIC-BarraTitulo_Repeater.png');
    background-repeat:repeat-x;
    height:32px;
    font-family:Calibri;
    font-size:18px;
    width:300px;
    text-align:right;
    
}
.divCard .CenterExporter>div
{
    padding-top: 4px;
    
        padding-right:10px;
    }

.trsinborde
{
border:hidden;
font-size:xx-large;
}
.tableinicio
{
border: 1px solid #696969;
}

/* RADCONTROLS ESTILOS
----------------------------------------------------------*/

tr.rgRow a img,tr.rgAltRow a img,tr.rgEditRow a img{ border-color:transparent;}


.RadError{
    background-image: url("/ResourcesCte/Images/Eliminar.png") !important; 
}
.RadSuccess
{
    background-image: url("/ResourcesCte/Images/Aceptar.png") !important; 
}
.RadWindow .rwDialogPopup
{
    padding: 0 0 31px 60px !important;    
}

.RadWindow .rwTable
{
    height: auto !important;    
}