<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="validation" type="Microsoft.Practices.EnterpriseLibrary.Validation.Configuration.ValidationSettings, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="oracleConnectionSettings" type="Microsoft.Practices.EnterpriseLibrary.Data.Oracle.Configuration.OracleConnectionSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <validation>
    <type name="Banobras.Credito.SICREB.Common.Types.PMCinta" defaultRuleset="ValidationCintaPM" assemblyName="Banobras.Credito.SICREB.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
      <ruleset name="ValidationCintaPM">
        <properties>
          <property name="HD" />
          <property name="HD_HD">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.ContainsCharactersValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" characterSet="BNCPM" containsCharacter="All" messageTemplate="Debe contener BNCPM" name="Contains Characters Validator" />
          </property>
          <property name="HD_00">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.ContainsCharactersValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" characterSet="9600" containsCharacter="Any" messageTemplate="Se refiere a la Clave de Usuario otorgada por Buró de Crédito para identificar a la Institución proveedora de la información." name="Contains Characters Validator" />
          </property>
          <property name="HD_01">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.ContainsCharactersValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" characterSet="0000" containsCharacter="Any" messageTemplate="Institución Anterior." name="Contains Characters Validator" />
          </property>
          <property name="HD_02">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.ContainsCharactersValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" characterSet="001" containsCharacter="Any" messageTemplate="Tipo de Institución." name="Contains Characters Validator" />
          </property>
          <property name="HD_03">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.ContainsCharactersValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" characterSet="1" containsCharacter="Any" messageTemplate="Formato" name="Contains Characters Validator" />
          </property>
          <property name="HD_04">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" pattern="(0[1-9]|[12][0-9]|3[01])(0[1-9]|1[012])(19|20)\d\d" messageTemplate="Se refiere al mes y año al que pertenece la información reportada." name="Regular Expression Validator" />
          </property>
          <property name="HD_05">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" pattern="(0[1-9]|[12][0-9]|3[01])(0[1-9]|1[012])(19|20)\d\d" messageTemplate="Incorporar el mes y año al que pertenece la información reportada." name="Regular Expression Validator" />
          </property>
          <property name="HD_06">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" pattern="\s{53}" name="Regular Expression Validator" />
          </property>
          <property name="EM_EM">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.ContainsCharactersValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" characterSet="EM" containsCharacter="Any" messageTemplate="Dato Fijo (EM)" name="Contains Characters Validator" />
          </property>
          <property name="EM_00">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" pattern="^[A-Za-z]{3}[ |\-]{0,1}[0-9]{6}[ |\-]{0,1}[0-9A-Za-z]{0,3}$?" messageTemplate="RFC Formato invalido." name="Regular Expression Validator" />
          </property>
          <property name="EM_01">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" pattern="^[a-zA-Z]{4}\d{6}[a-zA-Z]{6}\d{2}" messageTemplate="Formato CURP Invalido." name="Regular Expression Validator" />
          </property>
          <property name="EM_02">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.ContainsCharactersValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" characterSet="0000000000" containsCharacter="Any" messageTemplate="Dato Fijo (Poner   10 ceros)." name="Contains Characters Validator" />
          </property>
          <property name="EM_03">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" pattern="[&quot; &quot;]{75}" name="Regular Expression Validator" />
          </property>
          <property name="EM_04">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" pattern="[&quot; &quot;]{75}" name="Regular Expression Validator" />
          </property>
          <property name="EM_05">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" pattern="[&quot; &quot;]{75}" messageTemplate="" name="Regular Expression Validator" />
          </property>
          <property name="EM_06">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" pattern="[&quot; &quot;]{25}" name="Regular Expression Validator" />
          </property>
          <property name="EM_07">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" pattern="[&quot; &quot;]{25}" name="Regular Expression Validator" />
          </property>
          <property name="EM_08">
            <validator type="Banobras.Credito.SICREB.Business.Validators.Common.NacionalidadValidator, Banobras.Credito.SICREB.Business, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" messageTemplate="El pais no existe." name="NacionalidadValidator" />
          </property>
          <property name="EM_09">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.DomainValidator`1[[System.Object, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]], Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" messageTemplateResourceType="" name="Domain Validator">
              <domain>
                <add name="A1" />
                <add name="A2" />
                <add name="B1" />
                <add name="B2" />
                <add name="B3" />
                <add name="C1" />
                <add name="C2" />
                <add name="D" />
                <add name="E" />
                <add name="  " />
              </domain>
            </validator>
          </property>
          <property name="EM_10">
            <validator type="Banobras.Credito.SICREB.Business.Validators.Common.BanxicoValidator, Banobras.Credito.SICREB.Business, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="BanxicoValidator" />
          </property>
          <property name="EM_11">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.ContainsCharactersValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" characterSet="00009999999" containsCharacter="Any" name="Contains Characters Validator" />
          </property>
          <property name="EM_12">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.ContainsCharactersValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" characterSet="00009999999" containsCharacter="Any" name="Contains Characters Validator" />
          </property>
          <property name="EM_13">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" upperBound="40" lowerBound="40" lowerBoundType="Inclusive" name="String Length Validator" />
          </property>
          <property name="EM_14">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" upperBound="40" lowerBound="40" name="String Length Validator" />
          </property>
          <property name="EM_15">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" upperBound="60" lowerBound="60" lowerBoundType="Inclusive" name="String Length Validator" />
          </property>
          <property name="EM_16">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" upperBound="40" lowerBound="40" lowerBoundType="Inclusive" name="String Length Validator" />
          </property>
          <property name="EM_17">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" upperBound="40" lowerBound="40" lowerBoundType="Inclusive" name="String Length Validator" />
          </property>
          <property name="EM_18">
            <validator type="Banobras.Credito.SICREB.Business.Validators.Common.EdoMéxicoValidator, Banobras.Credito.SICREB.Business, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="EdoMéxicoValidator" />
          </property>
          <property name="EM_19">
            <validator type="Banobras.Credito.SICREB.Business.Validators.Common.CPValidator, Banobras.Credito.SICREB.Business, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="CPValidator" />
          </property>
          <property name="EM_20">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" upperBound="11" lowerBound="11" lowerBoundType="Inclusive" name="String Length Validator" />
          </property>
          <property name="EM_21">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" upperBound="11" lowerBound="11" lowerBoundType="Inclusive" name="String Length Validator" />
          </property>
          <property name="EM_22">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" upperBound="11" lowerBound="11" lowerBoundType="Inclusive" name="String Length Validator" />
          </property>
          <property name="EM_23">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.DomainValidator`1[[System.Object, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]], Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Domain Validator">
              <domain>
                <add name="1" />
                <add name="2" />
              </domain>
            </validator>
          </property>
          <property name="EM_24">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" upperBound="40" lowerBound="40" lowerBoundType="Inclusive" name="String Length Validator" />
          </property>
          <property name="EM_25">
            <validator type="Banobras.Credito.SICREB.Business.Validators.Common.CodigoNacionValidator, Banobras.Credito.SICREB.Business, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="CodigoNacionValidator" />
          </property>
          <property name="EM_26">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" pattern="\s{82}" name="Regular Expression Validator" />
          </property>
          <property name="AC_AC">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.ContainsCharactersValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" characterSet="AC" containsCharacter="All" name="Contains Characters Validator" />
          </property>
          <property name="AC_00">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" pattern="^[A-Za-z]{3}[ |\-]{0,1}[0-9]{6}[ |\-]{0,1}[0-9A-Za-z]{0,3}$?" name="Regular Expression Validator" />
          </property>
          <property name="AC_01">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" pattern="^[a-zA-Z]{4}\d{6}[a-zA-Z]{6}\d{2}" name="Regular Expression Validator" />
          </property>
          <property name="AC_02">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.ContainsCharactersValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" characterSet="0000000000" containsCharacter="Any" name="Contains Characters Validator" />
          </property>
          <property name="AC_03">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" upperBound="75" lowerBound="75" lowerBoundType="Inclusive" name="String Length Validator" />
          </property>
          <property name="AC_04">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" upperBound="75" lowerBound="75" lowerBoundType="Inclusive" name="String Length Validator" />
          </property>
          <property name="AC_05">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" upperBound="75" lowerBound="75" lowerBoundType="Inclusive" name="String Length Validator" />
          </property>
          <property name="AC_06">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" upperBound="25" lowerBound="25" lowerBoundType="Inclusive" name="String Length Validator" />
          </property>
          <property name="AC_07">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" upperBound="2" lowerBound="2" lowerBoundType="Inclusive" name="String Length Validator" />
          </property>
          <property name="AC_08">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" upperBound="2" lowerBound="2" lowerBoundType="Inclusive" name="String Length Validator" />
          </property>
          <property name="AC_09">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" upperBound="40" lowerBound="40" lowerBoundType="Inclusive" name="String Length Validator" />
          </property>
          <property name="AC_10">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" upperBound="40" lowerBound="40" lowerBoundType="Inclusive" name="String Length Validator" />
          </property>
          <property name="AC_11" />
          <property name="AC_12" />
          <property name="AC_13" />
          <property name="AC_14" />
          <property name="AC_15" />
          <property name="AC_16" />
          <property name="AC_17" />
          <property name="AC_18" />
          <property name="AC_19" />
          <property name="AC_20" />
          <property name="AC_21" />
          <property name="AC_22" />
          <property name="CR_CR" />
          <property name="CR_00" />
          <property name="CR_01" />
          <property name="CR_02" />
          <property name="CR_03" />
          <property name="CR_04" />
          <property name="CR_05" />
          <property name="CR_06" />
          <property name="CR_07" />
          <property name="CR_08" />
          <property name="CR_09" />
          <property name="CR_10" />
          <property name="CR_11" />
          <property name="CR_12" />
          <property name="CR_13" />
          <property name="CR_14" />
          <property name="CR_15" />
          <property name="CR_16" />
          <property name="CR_17" />
          <property name="CR_18" />
          <property name="CR_19" />
          <property name="CR_20" />
          <property name="CR_21" />
          <property name="DE_DE" />
          <property name="DE_00" />
          <property name="DE_01" />
          <property name="DE_02" />
          <property name="DE_03" />
          <property name="DE_04" />
          <property name="AV_AV" />
          <property name="AV_00" />
          <property name="AV_01" />
          <property name="AV_02" />
          <property name="AV_03" />
          <property name="AV_04" />
          <property name="AV_05" />
          <property name="AV_06" />
          <property name="AV_07" />
          <property name="AV_08" />
          <property name="AV_09" />
          <property name="AV_10" />
          <property name="AV_11" />
          <property name="AV_12" />
          <property name="AV_13" />
          <property name="AV_14" />
          <property name="AV_15" />
          <property name="AV_16" />
          <property name="AV_17" />
          <property name="AV_18" />
          <property name="AV_19" />
          <property name="AV_20" />
          <property name="AV_21" />
          <property name="TS_TS" />
          <property name="TS_00" />
          <property name="TS_01" />
          <property name="TS_02" />
        </properties>
      </ruleset>
    </type>
    <type name="Banobras.Credito.SICREB.Common.Types.PFCinta" defaultRuleset="ValidationPFCinta" assemblyName="Banobras.Credito.SICREB.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
      <ruleset name="ValidationPFCinta" />
    </type>
  </validation>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="DataLayer">
    <listeners>
      <add name="Flat File Trace Listener DataLayer" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="Logs\traceDataLayer.log" formatter="Text Formatter" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" />
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="Logs\rolling.log" formatter="Text Formatter" rollFileExistsBehavior="Increment" rollSizeKB="2000" maxArchivedFiles="2" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="DataLayer">
        <listeners>
          <add name="Flat File Trace Listener DataLayer" />
        </listeners>
      </add>
      <add switchValue="All" autoFlush="true" name="Category">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="Flat File Trace Listener DataLayer" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Flat File Trace Listener DataLayer" />
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Flat File Trace Listener DataLayer" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="DataLayer">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow">
            <exceptionHandlers>
              <add name="DataLayer General" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="DataLayer" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" priority="0" />
            </exceptionHandlers>
          </add>
          <add name="InvalidCastException" type="System.InvalidCastException, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow">
            <exceptionHandlers>
              <add name="DataLayer Invalid Cast" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="DataLayer" eventId="101" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" priority="0" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="Policy">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None">
            <exceptionHandlers>
              <add name="Logging Exception Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="Category" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="0" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <dataConfiguration defaultDatabase="SICREB" />
  <connectionStrings>
    <!--<add name="SICREB" connectionString="Data Source = 127.0.0.1:1521/XE; User ID = sicreb; Password = Fr33z3C0d3;" providerName="System.Data.OracleClient" />-->
    <!--<add name="SICREB" connectionString="Data Source = 172.27.208.2:1523/sicrebpr; User ID = SICREB; Password = SICREB;" providerName="System.Data.OracleClient" />-->
    <add name="SICREB" connectionString="Data Source = BNODORA04-B:1523/ZSICREBPR; User ID = sicreb; Password = sicreb;" providerName="System.Data.OracleClient" />
  </connectionStrings>
  <oracleConnectionSettings>
    <add name="SICREB" />
  </oracleConnectionSettings>
  <appSettings>
    <add key="INTF_ES" value="INTF" />
    <add key="INTF_V" value="10" />
    <add key="INTF_01" value="INTF" />
    <add key="INTF_05" value="12" />
    <add key="PN_Etiqueta" value="PN" />
    <add key="PA_Etiqueta" value="PA" />
    <add key="PE_Etiqueta" value="PE" />
    <add key="TL_Etiqueta" value="TL" />
    <add key="TR_Etiqueta" value="TRLR" />
    <add key="TL_99" value="FIN" />
    <add key="PatronDeFecha" value="(0[1-9]|[12][0-9]|3[01])(0[1-9]|1[012])(19|20)\d\d" />
    <add key="PatronDeRFC" value="^[A-Za-z]{3}[ |\\-]{0,1}[0-9]{6}[ |\\-]{0,1}[0-9A-Za-z]{0,3}$?" />
    <add key="INTF_07" value="BB14210000" />
    <add key="INTF_17" value="BANOBRAS" />
    <add key="INTF_33" value="  " />
    <add key="TL_01" value="BB14210001" />
    <add key="TL_02" value="BANOBRAS" />
    <add key="TL_05" value="I" />
    <add key="TL_08" value="MX" />
    <add key="TR_72" value="000000" />
    <add key="TR_78" value="BANOBRAS, S.N.C." />
    <add key="HD_HD" value="BNCPM" />
    <add key="HD_00" value="9600" />
    <add key="HD_01" value="0000" />
    <add key="HD_02" value="001" />
    <add key="HD_03" value="1" />
    <add key="EM_11" value="00009999999" />
    <add key="EM_12" value="00009999999" />
    <add key="MailFrom" value="omunoz@freezecode.com" />
    <add key="SmtpClient" value="localhost" />
    <add key="RutaActiveDirectory" value="LDAP://banobras.gob.mx" />
    <add key="DCActiveDirectory" value="DC=banobras,DC=gob,DC=mx" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="osvier.munoz@freezecode.com" deliveryMethod="SpecifiedPickupDirectory">
        <network host="189.204.36.46" port="2525" userName="osvier.munoz@freezecode.com" password="Temp.123" />
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Desarrollo\Mail" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>