<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <configSections>
    <section name="validation" type="Microsoft.Practices.EnterpriseLibrary.Validation.Configuration.ValidationSettings, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false"/>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="oracle.dataaccess.client" type="System.Data.Common.DbProviderConfigurationHandler, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="oracleConnectionSettings" type="Microsoft.Practices.EnterpriseLibrary.Data.Oracle.Configuration.OracleConnectionSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
  </configSections>
  
  <validation>
    <type name="Banobras.Credito.SICREB.Common.Types.PMCinta" defaultRuleset="ValidationCintaPM" assemblyName="Banobras.Credito.SICREB.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
      <ruleset name="ValidationCintaPM">
        <properties>
          <property name="HD"/>
          <property name="HD_HD">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.ContainsCharactersValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" characterSet="BNCPM" containsCharacter="All" messageTemplate="Debe contener BNCPM" name="Contains Characters Validator"/>
          </property>
          <property name="HD_00">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.ContainsCharactersValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" characterSet="9600" containsCharacter="Any" messageTemplate="Se refiere a la Clave de Usuario otorgada por Buró de Crédito para identificar a la Institución proveedora de la información." name="Contains Characters Validator"/>
          </property>
          <property name="HD_01">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.ContainsCharactersValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" characterSet="0000" containsCharacter="Any" messageTemplate="Institución Anterior." name="Contains Characters Validator"/>
          </property>
          <property name="HD_02">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.ContainsCharactersValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" characterSet="001" containsCharacter="Any" messageTemplate="Tipo de Institución." name="Contains Characters Validator"/>
          </property>
          <property name="HD_03">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.ContainsCharactersValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" characterSet="1" containsCharacter="Any" messageTemplate="Formato" name="Contains Characters Validator"/>
          </property>
          <property name="HD_04">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" pattern="(0[1-9]|[12][0-9]|3[01])(0[1-9]|1[012])(19|20)\d\d" messageTemplate="Se refiere al mes y año al que pertenece la información reportada." name="Regular Expression Validator"/>
          </property>
          <property name="HD_05">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" pattern="(0[1-9]|[12][0-9]|3[01])(0[1-9]|1[012])(19|20)\d\d" messageTemplate="Incorporar el mes y año al que pertenece la información reportada." name="Regular Expression Validator"/>
          </property>
          <property name="HD_06">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" pattern="\s{53}" name="Regular Expression Validator"/>
          </property>
          <property name="EM_EM">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.ContainsCharactersValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" characterSet="EM" containsCharacter="Any" messageTemplate="Dato Fijo (EM)" name="Contains Characters Validator"/>
          </property>
          <property name="EM_00">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" pattern="^[A-Za-z]{3}[ |\-]{0,1}[0-9]{6}[ |\-]{0,1}[0-9A-Za-z]{0,3}$?" messageTemplate="RFC Formato invalido." name="Regular Expression Validator"/>
          </property>
          <property name="EM_01">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" pattern="^[a-zA-Z]{4}\d{6}[a-zA-Z]{6}\d{2}" messageTemplate="Formato CURP Invalido." name="Regular Expression Validator"/>
          </property>
          <property name="EM_02">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.ContainsCharactersValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" characterSet="0000000000" containsCharacter="Any" messageTemplate="Dato Fijo (Poner   10 ceros)." name="Contains Characters Validator"/>
          </property>
          <property name="EM_03">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" pattern="[&quot; &quot;]{75}" name="Regular Expression Validator"/>
          </property>
          <property name="EM_04">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" pattern="[&quot; &quot;]{75}" name="Regular Expression Validator"/>
          </property>
          <property name="EM_05">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" pattern="[&quot; &quot;]{75}" messageTemplate="" name="Regular Expression Validator"/>
          </property>
          <property name="EM_06">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" pattern="[&quot; &quot;]{25}" name="Regular Expression Validator"/>
          </property>
          <property name="EM_07">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" pattern="[&quot; &quot;]{25}" name="Regular Expression Validator"/>
          </property>
          <property name="EM_08">
            <validator type="Banobras.Credito.SICREB.Business.Validators.Common.NacionalidadValidator, Banobras.Credito.SICREB.Business, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" messageTemplate="El pais no existe." name="NacionalidadValidator"/>
          </property>
          <property name="EM_09">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.DomainValidator`1[[System.Object, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]], Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" messageTemplateResourceType="" name="Domain Validator">
              <domain>
                <add name="A1"/>
                <add name="A2"/>
                <add name="B1"/>
                <add name="B2"/>
                <add name="B3"/>
                <add name="C1"/>
                <add name="C2"/>
                <add name="D"/>
                <add name="E"/>
                <add name="  "/>
              </domain>
            </validator>
          </property>
          <property name="EM_10">
            <validator type="Banobras.Credito.SICREB.Business.Validators.Common.BanxicoValidator, Banobras.Credito.SICREB.Business, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="BanxicoValidator"/>
          </property>
          <property name="EM_11">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.ContainsCharactersValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" characterSet="00009999999" containsCharacter="Any" name="Contains Characters Validator"/>
          </property>
          <property name="EM_12">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.ContainsCharactersValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" characterSet="00009999999" containsCharacter="Any" name="Contains Characters Validator"/>
          </property>
          <property name="EM_13">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" upperBound="40" lowerBound="40" lowerBoundType="Inclusive" name="String Length Validator"/>
          </property>
          <property name="EM_14">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" upperBound="40" lowerBound="40" name="String Length Validator"/>
          </property>
          <property name="EM_15">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" upperBound="60" lowerBound="60" lowerBoundType="Inclusive" name="String Length Validator"/>
          </property>
          <property name="EM_16">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" upperBound="40" lowerBound="40" lowerBoundType="Inclusive" name="String Length Validator"/>
          </property>
          <property name="EM_17">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" upperBound="40" lowerBound="40" lowerBoundType="Inclusive" name="String Length Validator"/>
          </property>
          <property name="EM_18">
            <validator type="Banobras.Credito.SICREB.Business.Validators.Common.EdoMéxicoValidator, Banobras.Credito.SICREB.Business, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="EdoMéxicoValidator"/>
          </property>
          <property name="EM_19">
            <validator type="Banobras.Credito.SICREB.Business.Validators.Common.CPValidator, Banobras.Credito.SICREB.Business, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="CPValidator"/>
          </property>
          <property name="EM_20">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" upperBound="11" lowerBound="11" lowerBoundType="Inclusive" name="String Length Validator"/>
          </property>
          <property name="EM_21">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" upperBound="11" lowerBound="11" lowerBoundType="Inclusive" name="String Length Validator"/>
          </property>
          <property name="EM_22">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" upperBound="11" lowerBound="11" lowerBoundType="Inclusive" name="String Length Validator"/>
          </property>
          <property name="EM_23">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.DomainValidator`1[[System.Object, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]], Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Domain Validator">
              <domain>
                <add name="1"/>
                <add name="2"/>
              </domain>
            </validator>
          </property>
          <property name="EM_24">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" upperBound="40" lowerBound="40" lowerBoundType="Inclusive" name="String Length Validator"/>
          </property>
          <property name="EM_25">
            <validator type="Banobras.Credito.SICREB.Business.Validators.Common.CodigoNacionValidator, Banobras.Credito.SICREB.Business, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="CodigoNacionValidator"/>
          </property>
          <property name="EM_26">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" pattern="\s{82}" name="Regular Expression Validator"/>
          </property>
          <property name="AC_AC">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.ContainsCharactersValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" characterSet="AC" containsCharacter="All" name="Contains Characters Validator"/>
          </property>
          <property name="AC_00">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" pattern="^[A-Za-z]{3}[ |\-]{0,1}[0-9]{6}[ |\-]{0,1}[0-9A-Za-z]{0,3}$?" name="Regular Expression Validator"/>
          </property>
          <property name="AC_01">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" pattern="^[a-zA-Z]{4}\d{6}[a-zA-Z]{6}\d{2}" name="Regular Expression Validator"/>
          </property>
          <property name="AC_02">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.ContainsCharactersValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" characterSet="0000000000" containsCharacter="Any" name="Contains Characters Validator"/>
          </property>
          <property name="AC_03">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" upperBound="75" lowerBound="75" lowerBoundType="Inclusive" name="String Length Validator"/>
          </property>
          <property name="AC_04">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" upperBound="75" lowerBound="75" lowerBoundType="Inclusive" name="String Length Validator"/>
          </property>
          <property name="AC_05">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" upperBound="75" lowerBound="75" lowerBoundType="Inclusive" name="String Length Validator"/>
          </property>
          <property name="AC_06">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" upperBound="25" lowerBound="25" lowerBoundType="Inclusive" name="String Length Validator"/>
          </property>
          <property name="AC_07">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" upperBound="2" lowerBound="2" lowerBoundType="Inclusive" name="String Length Validator"/>
          </property>
          <property name="AC_08">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" upperBound="2" lowerBound="2" lowerBoundType="Inclusive" name="String Length Validator"/>
          </property>
          <property name="AC_09">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" upperBound="40" lowerBound="40" lowerBoundType="Inclusive" name="String Length Validator"/>
          </property>
          <property name="AC_10">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" upperBound="40" lowerBound="40" lowerBoundType="Inclusive" name="String Length Validator"/>
          </property>
          <property name="AC_11"/>
          <property name="AC_12"/>
          <property name="AC_13"/>
          <property name="AC_14"/>
          <property name="AC_15"/>
          <property name="AC_16"/>
          <property name="AC_17"/>
          <property name="AC_18"/>
          <property name="AC_19"/>
          <property name="AC_20"/>
          <property name="AC_21"/>
          <property name="AC_22"/>
          <property name="CR_CR"/>
          <property name="CR_00"/>
          <property name="CR_01"/>
          <property name="CR_02"/>
          <property name="CR_03"/>
          <property name="CR_04"/>
          <property name="CR_05"/>
          <property name="CR_06"/>
          <property name="CR_07"/>
          <property name="CR_08"/>
          <property name="CR_09"/>
          <property name="CR_10"/>
          <property name="CR_11"/>
          <property name="CR_12"/>
          <property name="CR_13"/>
          <property name="CR_14"/>
          <property name="CR_15"/>
          <property name="CR_16"/>
          <property name="CR_17"/>
          <property name="CR_18"/>
          <property name="CR_19"/>
          <property name="CR_20"/>
          <property name="CR_21"/>
          <property name="DE_DE"/>
          <property name="DE_00"/>
          <property name="DE_01"/>
          <property name="DE_02"/>
          <property name="DE_03"/>
          <property name="DE_04"/>
          <property name="AV_AV"/>
          <property name="AV_00"/>
          <property name="AV_01"/>
          <property name="AV_02"/>
          <property name="AV_03"/>
          <property name="AV_04"/>
          <property name="AV_05"/>
          <property name="AV_06"/>
          <property name="AV_07"/>
          <property name="AV_08"/>
          <property name="AV_09"/>
          <property name="AV_10"/>
          <property name="AV_11"/>
          <property name="AV_12"/>
          <property name="AV_13"/>
          <property name="AV_14"/>
          <property name="AV_15"/>
          <property name="AV_16"/>
          <property name="AV_17"/>
          <property name="AV_18"/>
          <property name="AV_19"/>
          <property name="AV_20"/>
          <property name="AV_21"/>
          <property name="TS_TS"/>
          <property name="TS_00"/>
          <property name="TS_01"/>
          <property name="TS_02"/>
        </properties>
      </ruleset>
    </type>
  </validation>
  
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="DataLayer">
    <listeners>
      <add name="Flat File Trace Listener DataLayer" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="Logs\traceDataLayer.log" formatter="Text Formatter" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack"/>
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="Logs\rolling.log" formatter="Text Formatter" rollFileExistsBehavior="Increment" rollSizeKB="2000" maxArchivedFiles="2" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack"/>
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="DataLayer">
        <listeners>
          <add name="Flat File Trace Listener DataLayer"/>
        </listeners>
      </add>
      <add switchValue="All" autoFlush="true" name="Category">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="Flat File Trace Listener DataLayer"/>
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Flat File Trace Listener DataLayer"/>
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Flat File Trace Listener DataLayer"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>  
  
  <exceptionHandling>
    <exceptionPolicies>
      <add name="DataLayer">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow">
            <exceptionHandlers>
              <add name="DataLayer General" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="DataLayer" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" priority="0"/>
            </exceptionHandlers>
          </add>
          <add name="InvalidCastException" type="System.InvalidCastException, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow">
            <exceptionHandlers>
              <add name="DataLayer Invalid Cast" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="DataLayer" eventId="101" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" priority="0"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="Policy">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None">
            <exceptionHandlers>
              <add name="Logging Exception Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="Category" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="0"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  
  <dataConfiguration defaultDatabase="SICREB">
  </dataConfiguration>
  
  <connectionStrings>
    <add name="SICREB" connectionString="Data Source = {0}:{1}/{2}; User Id = {3}; Password = {4};" providerName="System.Data.OracleClient" />
    <add name="INTRAN" connectionString="Data Source = {0}:{1}/{2}; User Id = {3}; Password = {4};" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  
  <oracleConnectionSettings>
    <add name="SICREB"/>
  </oracleConnectionSettings>
  
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.DataAccess.Client"/>
      <add name="Oracle Data Provider for .NET" invariant="Oracle.DataAccess.Client" description="Oracle Data Provider for .NET" type="Oracle.DataAccess.Client.OracleClientFactory, Oracle.DataAccess, Version=4.112.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  
  <system.web>
    <!--vulnerabilidades ultra-->
    <httpRuntime encoderType="System.Web.Security.AntiXss.AntiXssEncoder" enableVersionHeader="false" />
    <httpCookies requireSSL="true"/>
    <sessionState cookieSameSite="Strict" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Oracle.DataAccess, Version=4.112.2.0, Culture=neutral, PublicKeyToken=89B483F429C47342"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="FirebirdSql.Data.FirebirdClient, Version=4.6.1.0, Culture=neutral, PublicKeyToken=3750ABCC3150B00C"/>
      </assemblies>
    </compilation>
    <authentication mode="Windows">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <identity impersonate="false" />
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false"/>
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false"/>
    </httpHandlers>
    <customErrors mode="On" defaultRedirect="Error.aspx"/>

    <pages enableViewStateMac="true" validateRequest="true">
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
      </controls>
    </pages>
    <httpModules />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="es-MX" uiCulture="es-MX" />
  </system.web>
  
  <system.webServer>
    <!--Clickjacking security-->
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <!--End clickjacking-->
    <modules runAllManagedModulesForAllRequests="true">
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule, Telerik.Web.UI" preCondition="managedHandler"/>
    </modules>
    <handlers>
      <remove name="ChartImage_axd"/>
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd"/>
      <remove name="Telerik_Web_UI_DialogHandler_aspx"/>
      <remove name="Telerik_RadUploadProgressHandler_ashx"/>
      <remove name="Telerik_Web_UI_WebResource_axd"/>
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode"/>
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode"/>
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode"/>
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode"/>
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false" />
    <security>
      <requestFiltering removeServerHeader="true">
        <fileExtensions>
          <add fileExtension=".aspx" allowed="true"/>
        </fileExtensions>
      </requestFiltering>
    </security>
    <rewrite>
      <outboundRules>
        <rule name="Set SAML session cookie flags">
          <match serverVariable="RESPONSE_Set_Cookie" pattern="SAML_SessionId=[^;\s]*" />
          <action type="Rewrite" value="{R:0}; Path=/; Secure; HttpOnly; SameSite=None" />
        </rule>
      </outboundRules>
    </rewrite>
  </system.webServer>
  
  <appSettings>
    <!--<add key="UrlImages" value="http://localhost:91/Resources/Images/" />-->
    <!--<add key="Site" value="http://localhost:91/Resources/" />-->
    <add key="UrlImages"      value="http://localhost:1120/Resources/Images/"/>
    <add key="Site"           value="http://localhost/Resources/"/>
    <add key="HD_HD"          value="BNCPM"/>
    <add key="HD_00"          value="9600"/>
    <add key="HD_01"          value="0000"/>
    <add key="HD_02"          value="001"/>
    <add key="HD_03"          value="1"/>
    <add key="HD_06"          value="11"/>
    <add key="HD_07"          value="Banco Nacional de Obras y Servicios Publicos SNC Institucion de Banca de Desarrollo"/>
    <add key="EM_11"          value="00009999999"/>
    <add key="EM_12"          value="00009999999"/>
    <add key="SmtpClient"     value="localhost"/>
    <add key="IA"                     value="1"/>
    <add key="GASEM"                  value="2"/>
    <add key="GAMEN"                  value="3"/>
    <add key="DAPF"                   value="4"/>
    <add key="DAPM"                   value="5"/>
    <add key="CDPF"                   value="6"/>
    <add key="CDPM"                   value="7"/>
    <add key="EDEX"                   value="8"/>
    <add key="EDPDF"                  value="9"/>
    <add key="EEWEX"                  value="10"/>
    <add key="EEWPDF"                 value="11"/>
    <add key="GRC"                    value="12"/>
    <add key="ERC"                    value="13"/>
    <add key="CCSEPO"                 value="14"/>
    <add key="MCV"                    value="15"/>
    <add key="AACTAS"                 value="16"/>
    <add key="MCCTAS"                 value="17"/>
    <add key="ECCTAS"                 value="18"/>
    <add key="AGREGAR_EDOS_F"         value="19"/>
    <add key="MOD_EDOS_F"             value="20"/>
    <add key="ELIM_EDOS_F"            value="21"/>
    <add key="AGREGA_EDOS_M"          value="22"/>
    <add key="MOD_EDOS_M"             value="23"/>
    <add key="ELIM_EDOS_M"            value="24"/>
    <add key="AGREGA_CVEOBS_F"        value="25"/>
    <add key="MOD_CVEOBS_F"           value="26"/>
    <add key="ELIM_CVEOBS_F"          value="27"/>
    <add key="AGREGA_CVEOBS_M"        value="28"/>
    <add key="MOD_CVEOBS_M"           value="29"/>
    <add key="ELIM_CVEOBS_M"          value="30"/>
    <add key="AGREGA_CREDOBS_F"       value="31"/>
    <add key="MOD_CREDOBS_F"          value="32"/>
    <add key="ELIM_CREDOBS_F"         value="33"/>
    <add key="AGREGA_CREDOBS_M"       value="34"/>
    <add key="MOD_CREDOBS_M"          value="35"/>
    <add key="ELIM_CREDOBS_M"         value="36"/>
    <add key="AGREGA_FORMPAGO_F"      value="37"/>
    <add key="MOD_FORMPAGO_F"         value="38"/>
    <add key="ELIM_FORMPAGO_F"        value="39"/>
    <add key="AGREGA_CIVIL_F"         value="40"/>
    <add key="MOD_CIVIL_F"            value="41"/>
    <add key="ELIM_CIVIL_F"           value="42"/>
    <add key="AGREGA_NAC_F"           value="43"/>
    <add key="MOD_NAC_F"              value="44"/>
    <add key="ELIM_NAC_F"             value="45"/>
    <add key="AGREGA_NAC_M"           value="46"/>
    <add key="MOD_NAC_M"              value="47"/>
    <add key="ELIM_NAC_M"             value="48"/>
    <add key="AGREGA_EXCEPTUADO_F"    value="49"/>
    <add key="MOD_EXCEPTUADO_F"       value="50"/>
    <add key="ELIM_EXCEPTUADO_F"      value="51"/>
    <add key="AGREGA_EXCEPTUADO_M"    value="52"/>
    <add key="MOD_EXCEPTUADO_M"       value="53"/>
    <add key="ELIM_EXCEPTUADO_M"      value="54"/>
    <add key="AGREGA_NUMPAGO"         value="55"/>
    <add key="MOD_NUMPAGO"            value="56"/>
    <add key="ELIM_NUMPAGO"           value="57"/>
    <add key="AGREGA_FRECPAGO"        value="58"/>
    <add key="MOD_FRECPAGO"           value="59"/>
    <add key="ELIM_FRECPAGO"          value="60"/>
    <add key="AGREGA_TIPOMONEDA"      value="61"/>
    <add key="MOD_TIPOMONEDA"         value="62"/>
    <add key="ELIM_TIPOMONEDA"        value="63"/>
    <add key="AGREGA_TIPOCRED"        value="64"/>
    <add key="MOD_TIPOCRED"           value="65"/>
    <add key="ELIM_TIPOCRED"          value="66"/>
    <add key="AGREGA_CALIFCARTERA"    value="67"/>
    <add key="MOD_CALIFCARTERA"       value="68"/>
    <add key="ELIM_CALIFCARTERA"      value="69"/>
    <add key="AGREGA_FIDUCIARIA"      value="70"/>
    <add key="MOD_FIDUCIARIA"         value="71"/>
    <add key="ELIM_FIDUCIARIA"        value="72"/>
    <add key="AGREGA_AEBANXICO"       value="73"/>
    <add key="MOD_AEBANXICO"          value="74"/>
    <add key="ELIM_AEBANXICO"         value="75"/>
    <add key="AGREGA_FALLECIDAS"      value="76"/>
    <add key="MOD_FALLECIDAS"         value="77"/>
    <add key="ELIM_FALLECIDAS"        value="78"/>
    <add key="AGREGA_ACCIONISTA"      value="79"/>
    <add key="MOD_ACCIONISTA"         value="80"/>
    <add key="ELIM_ACCIONISTA"        value="81"/>
    <add key="AGREGA_CRED_REG_MANUAL" value="82"/>
    <!--<add key="MOD_ACCIONISTA"     value="83"/>-->
    <!--<add key="ELIM_ACCIONISTA"        value="84"/>-->
    <add key="AGREGA_USUARIO"         value="85"/>
    <add key="MOD_USUARIO"            value="86"/>
    <add key="ELIM_USUARIO"           value="87"/>
    <add key="AGREGA_ROL"             value="88"/>
    <add key="MOD_ROL"                value="89"/>
    <add key="ELIM_ROL"               value="90"/>
    <add key="AGREGA_TMOD_AEBA"       value="91"/>
    <add key="MOD_TMOD_AEBA"          value="92"/>
    <add key="ELIM_TMOD_AEBA"         value="93"/>
    <add key="AGREGA_PA"              value="94"/>
    <add key="MOD_PA"                 value="95"/>
    <add key="ELIM_PA"                value="96"/>
    <!--Rol de Administrador-->
    <add key="IdRolPermanente"        value="41"/>
    <add key="TipoCreditoRE"          value="HIPOTECARIA"/>
    <add key="TipoCreditoPL"          value="PAGARE"/>
    <add key="Telerik.Skin"           value="Windows7"/>

    <!--NUEVOS-->
    <add key="UriMensual"             value="http://172.27.207.97/sicofin/api/v2/financial-accounting/integration/balances-by-month"/>
    <add key="UriSemanal"             value="http://172.27.207.97/sicofin/api/v2/financial-accounting/integration/balances-by-day"/>

    <!--<add key="UriMensual"             value="http://bnopsicofin1-a/sicofin/api/v2/financial-accounting/integration/balances-by-month"/>
    <add key="UriSemanal"             value="http://bnopsicofin1-a/sicofin/api/v2/financial-accounting/integration/balances-by-day"/>-->

    <add key="TelObligatorio"         value="0"/>
    <add key="MailObligatorio"        value="0"/>

    <!--SOL54125 Bitacora-->
    <add key="NombreDominio"  value="Banobras"/>
    <add key="RutaActiveDirectory"    value="LDAP://banobras.gob.mx"/>
    <add key="DCActiveDirectory"      value="DC=banobras,DC=gob,DC=mx"/>
    
    <!--DESARROLLO-->
    <!--<add key="MailFrom"       value="desarrolloomunoz@freezecode.com"/>-->
    <add key="AuthAD"         value="false"/>
    <add key="UsuarioDA"      value="intranet"/>
    <add key="ContrasenaDA"   value="P@ssw0rd"/>
    
    <!--PRODUCCION-->
    <add key="MailFrom"       value="munoz@freezecode.com"/>
    <!--<add key="AuthAD"         value="true"/>-->
    <!--<add key="UsuarioDA"      value="intranet"/>-->
    <!--<add key="ContrasenaDA"   value="P@ssw0rd"/>-->

    <add key="EnvironmentVariable" value="SICREB_VARIABLES" />

  </appSettings>
  
  <system.net>
    <mailSettings>
      <smtp from="osvier.munoz@freezecode.com" deliveryMethod="SpecifiedPickupDirectory">
        <network host="189.204.36.46" port="2525" userName="osvier.munoz@freezecode.com" password="Temp.123"/>
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Desarrollo\Mail"/>
      </smtp>
    </mailSettings>
  </system.net>

</configuration>
